@font-face {
    font-family: Rubik-SemiBold;
    src: url(fonts/Rubik-SemiBold.ttf) format("truetype");
}


/**Initialisiert die Schriftarte für website*/

@font-face {
    font-family: Rubik-Regular;
    src: url(fonts/Rubik-Regular.ttf) format("truetype");
}

:root {
    scroll-behavior: smooth;
}

* {
    font-family: Rubik-Regular;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
    width: 0px;
    /* For Chrome, Safari, and Opera */
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(117, 139, 76);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    box-shadow: 1px 3px 10px #0000007a;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
    transition-duration: 0.5s;
}

#infotab {
    min-width: 50px;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    top: 20px;
    /* Place the button at the bottom of the page */
    left: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: teal;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 12px;
    /* Increase font size */
    box-shadow: 1px 3px 10px #0000007a;
    /*add Box shadow*/
}

#expandedText {
    display: none;
    width: 10vw;
    text-align: justify;
}

.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(148, 115, 71);
    margin: 0px;
    color: white;
}

.header-content {
    text-align: center;
    width: 80vw;
}

.header-content p {
    margin-bottom: 20px;
}

.header-content a {
    background-color: teal;
    border: 3px solid teal;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: 1px 3px 10px #0000007a;
}

.section-1 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(76, 100, 83);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-content-tile-left {
    border: 5px solid rgb(148, 115, 71);
    width: 40vw;
    height: 40vw;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-content-tile-left h1 {
    color: white;
    font-family: Rubik-SemiBold;
    font-size: 36px;
}

.section-1-content-tile-right {
    border: 5px solid rgb(148, 115, 71);
    width: 40vw;
    height: 40vw;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-content-tile-right p {
    text-align: justify;
    width: 30vw;
    color: white;
}

.section-2 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(76, 84, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Next & previous buttons */


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    width: auto;
    color: white;
    background-color: teal;
    box-shadow: 1px 3px 10px #0000007a;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    margin-top: 10vw;
}


/* Position the "next button" to the right */


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}

.mySlides1 {
    width: 70vw;
    height: 40vw;
    align-items: center;
    justify-self: center;
    text-align: center;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.slide-content-tile-left {
    width: 50vw;
    height: 50vw;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content-tile-left h1 {
    color: white;
    font-family: Rubik-SemiBold;
    font-size: 50px;
}

.slide-content-tile-right {
    width: 50vw;
    height: 50vw;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content-tile-right p {
    color: white;
    font-family: Rubik-Regular;
    font-size: 14px;
    text-align: justify;
}

.section-3 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(79, 63, 110);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-content-tile-left {
    width: 40vw;
    height: 40vw;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-content-tile-left h1 {
    color: white;
    font-family: Rubik-SemiBold;
    font-size: 36px;
}

.section-3-content-tile-right {
    width: 40vw;
    height: 40vw;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-content-tile-right-buttons-button {
    min-width: 30vw;
    height: 18vh;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: teal;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    margin: 10px;
    padding: 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 36px;
    font-family: Rubik-SemiBold;
    /* Increase font size */
    box-shadow: 1px 3px 10px #0000007a;
    /*add Box shadow*/
}

.navbar {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    top: 00px;
    /* Place the button at the bottom of the page */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
}

.navbar button {
    background-color: teal;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    font-size: 18px;
    /* Increase font size */
    box-shadow: 1px 3px 10px #0000007a;
    cursor: pointer;
    width: 10vw;
}

.footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-tile {
    border: 5px solid teal;
    margin: 10px;
    padding: 10px;
    width: 20vw;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 1px 3px 10px #0000007a;
}

.footer-content-tile h1 {
    text-align: left;
}

.footer-content-tile-list {
    margin-top: 20px;
}

.footer-content-tile-list p {
    text-align: left;
    width: 18vw;
}

.footer-content-tile-list a {
    text-decoration: none;
    color: teal;
    font-size: 18px;
    text-align: center;
}